<tr>
  <%= form_for assignment, :html => {:method => :delete} do |f|%>      
    <td class="subteam_title"><%=assignment.subteam.name%></td>
    <td><%=assignment.start_date.strftime('%d %b %Y')%></td>
    <td><%=assignment.foreseen_end_date.strftime('%d %b %Y')%></td>
    <td><%=f.submit "Unassign", class: "btn", :onclick => "return confirm('Are you sure?')"%></td>
  <% end %>
<tr>