<%if @assignments_for_teammate.empty?%>
  <div class="page-header"> 
    <h1><%=@teammate.name%> is not assigned to any subteam yet</h1>
  </div>
<% else %>
  <div> 
    <h1><%=@teammate.name%>'s assignments</h1>
    <h3><%=@teammate.name%> is currently assigned to the following subteams</h3>
  </div>
  <div>
    <table class="table table-striped">
      <th>Subteam</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Unassign</th>
      <%@assignments_for_teammate.each do |assignment|%>
      <tr>
         <%= form_for assignment, :html => {:method => :delete} do |f|%>      
            <td class="subteam_title"><%=assignment.subteam.name%></td>
            <td><%=assignment.start_date.strftime('%d %b %Y')%></td>
            <td><%=assignment.foreseen_end_date.strftime('%d %b %Y')%></td>
            <td><%=f.submit "Unassign", class: "btn", :onclick => "return confirm('Are you sure?')"%></td>
        <% end %>
      <tr>
      <% end %>
    </table>
  </div>
<% end %>
<div>
  <%= link_to "Assign #{@teammate.name} to a new subteam...", new_teammate_assignment_path(@teammate) %>
</div>
<br />
