<div class="page-header">
  <h1><%=@teammate.name%>'s assignments</h1>
</div>
<%if @assignments_for_teammate.empty?%>
  <div> 
    <h3><%=@teammate.name%> is not assigned to any subteam yet</h1>
    <h3>Click the link below to assign <%=@teammate.name%> to a subteam</h3>
  </div>
<% else %>
  <div>
    <h3><%=@teammate.name%> is currently assigned to the following subteams</h3>
  </div>
<% end %>
<%=render 'assignments_table'%>
<div>
  <%= link_to "Assign #{@teammate.name} to a new subteam...", new_teammate_assignment_path(@teammate), 
                                                                            class: "btn", remote:true %>
</div>
<div id="assignment_partial">
</div>
<br />
