<%=render "form_errors"%>
<div>
  <%= f.label :eciidentifier, 'ECI Id'%>
  <%= f.text_field :eciidentifier%>
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.label :last_name%>
  <%= f.text_field :last_name %>
  <%= f.label :contracting_company%>
  <%= f.text_field :contracting_company %>
  <%= f.label :subcontracting_company%>
  <%= f.text_field :subcontracting_company  %>
</div>