<%= form_for @teammate do |f| %>
  <% if @teammate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teammate.errors.count, "error") %> prohibited this teammate from being saved:</h2>

      <ul>
      <% @teammate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <%= f.label :eciidentifier, 'ECI Id'%>
      <%= f.text_field :eciidentifier%>
      <%= f.label :name%>
      <%= f.text_field :name %>
      <%= f.label :last_name%>
      <%= f.text_field :last_name %>
      <%= f.label :contracting_company%>
      <%= f.text_field :contracting_company %>
      <%= f.label :subcontracting_company%>
      <%= f.text_field :subcontracting_company  %>
    </div>
    <div>
      <span><%= f.submit "Create", class: "btn btn-large" %></span>
      <span><%= link_to 'Go back home', root_path, class: "btn btn-large"%></span>
    </div>
<% end %>
