<% if @teammates.empty?%>
<div class="lead">There are no teammates. Please click the button below to create a new mate</div>
<%else%>
  <table class="table table-striped">
    <tr>
      <th>Eci Id</th>
      <th>Name</th>
      <th>Contracting company</th>
      <th>Subcontracting company</th>
      <th></th>
    </tr>

    <% @teammates.each do |teammate| %>
      <tr>
        <td><%= teammate.eciidentifier %></td>
        <td><%= link_to "#{truncate (teammate.name+" "+teammate.last_name)}", teammate %></td>
        <td><%= truncate teammate.contracting_company %></td>
        <td><%= truncate teammate.subcontracting_company  %></td>
        <td>
          <ul class="nav nav-pills">
            <li><%= link_to 'Edit', edit_teammate_path(teammate) %></li>
            <li><%= link_to 'Delete', teammate, method: :delete, confirm: 'Are you sure?'%></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<%end%>
<%= link_to 'New Teammate', new_teammate_path, class: "btn" %>