<div class="page-header">
  <h1>Listing teammates</h1>
</div>

<div>
  <ul id="mainTabbedPannel" class="nav nav-tabs">
    <li class="active"><%= link_to 'Teammates', teammates_path, remote: true%></li>
    <li><%= link_to 'Subteams', subteams_path, remote: true%></li>
  </ul>
</div>
<div id="pannel-content">
  <table class="table table-striped">
    <tr>
      <th align="center">Eci Id</th>
      <th align="center">Name</th>
      <th align="center">Last name</th>
      <th align="center">Contracting company</th>
      <th align="center">Subcontracting company</th>
      <th align="center">Actions</th>
    </tr>

    <% @teammates.each do |teammate| %>
      <tr>
        <td><%= teammate.eciidentifier %></td>
        <td><%= teammate.name %></td>
        <td><%= teammate.last_name %></td>
        <td><%= teammate.contracting_company %></td>
        <td><%= teammate.subcontracting_company  %></td>
        <td>
          <ul class="nav nav-pills">
            <li><%= link_to 'Assingments',  teammate_assignments_path(teammate) %></li>
            <li><%= link_to 'View', teammate %></li>
            <li><%= link_to 'Edit', edit_teammate_path(teammate) %></li>
            <li><%= link_to 'Delete', teammate, method: :delete, confirm: 'Are you sure?'%></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= link_to 'New Teammate', new_teammate_path, class: "btn" %>