<div class="page-header">
  <h1><%=@teammate.name+' '+@teammate.last_name+' ('+@teammate.eciidentifier+')'%></h1>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <ul>
        <li><strong>Company:</strong> <%= @teammate.contracting_company %></li>
        <%if @teammate.subcontracting_company && @teammate.subcontracting_company != ""%>
          <li><strong>Subcontracting company:</strong> <%= @teammate.subcontracting_company%></li>        
        <%end%>
      </ul>    
    </div>
    <div class="span8">
      <h4>Assignments list</h4>
      <%=render 'shared/teammate_assignments'%>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <%= link_to 'Edit mate', edit_teammate_path(@teammate), class: "btn" %>
    </div>
    <div class="span8">
      <%= link_to 'Change assignments', teammate_assignments_path(@teammate), class: "btn" %>
      <%= link_to 'Back to home...', root_path, class: "btn"%>
    </div>
  </div>
</div>