<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subteam.name %>
</p>

<p>
  <b>Start date:</b>
  <%= endDateUnlessEmpty @subteam.start_date%>
</p>

<p>
  <b>Foreseen end date:</b>
  <%= endDateUnlessEmpty @subteam.foreseen_end_date %>
</p>

<p>
  <b>End date:</b>
  <%=endDateUnlessEmpty @subteam.end_date %>
</p>


<%= link_to 'Edit', edit_subteam_path(@subteam) %> |
<%= link_to 'Back', subteams_path %>
